<!--
 * @Description: 
 * @Autor: lizi
 * @Date: 2022-04-26 14:38:45
 * @LastEditors: lizi
 * @LastEditTime: 2022-05-13 17:47:22
 * @FilePath: \ylk-vue\源码分析\00.diff算法\index.html
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>diff算法</title>
  </head>
  <body>
    <div id="app">
      <!-- 主要查看文本节点的变换规则-> 直接复用旧节点，将旧节点的文本内容用新节点的替代 -->
      <!-- <h3>0.文字变换</h3>
      <div>{{text}} <a @click="$_onChange">变换</a></div> -->

      <!-- <h3>1.单纯元素循环(index作为key)</h3> -->
        <!-- 这种删除是正常的，新旧节点对比发现只是文本内容进行了变化；所以会复用原有节点，进行文本内容替换 -->
      <!-- <li v-for="(item,index) in list1" >{{item.name}} <a @click="_remove(index)">删除</a></li> -->

      <!-- <h3>2.单纯元素循环(id作为key)</h3> -->
      <!-- <li v-for="(item,index) in list2" :key="item.id">{{item.name}} <a @click="_remove2(index)">删除</a></li> -->


      <!-- <h3>3.循环子组件</h3> -->
      <!-- 这里用index做为key删除就不正常，因为组件diff是不关心子组件内部实现的(注意是不关心子组件，不是子元素=>因为组件的children都是undefined，没法进行内部children的patchVnode)；
        上面的正常的li标签的循环和删除，因为子元素都是真实dom，所以有children，会一直进行children的patchVnode对比
        所以发现组件没有变化、直接复用原来的；不管子组件内部的内容变化 
        而加上key之后发现不同，只复用相同key的组件，所以删除不会出错
      -->
      <!-- <children v-for="(item, index) in list3":text="item.name" :key="item.id" @delete="_remove3(index)"> -->

      <children v-for="(item, index) in list3":text="item.name" :key="index" @delete="_remove3(index)">

      <!-- <h3>4.节点复用</h3>-->
      <!-- <a @click="_reverse">点击倒序</a>
      <li v-for="(item,index) in list1" :key="item.id">{{item.name}} </li>  -->

      <!-- <h3>5.打乱</h3>
      <a @click="_luan">点击打乱</a>
      <div>
        <li v-for="(item,index) in list1" :key="item.id">{{item.name}} <span @click="_remove(index)">删除</span></li>
      </div> -->
    </div>
  </body>
  <script src="../../dist/vue.js"></script>
  <script>

    new Vue({
      el: "#app",
      data(){
        return {
          text:'文本',
          list1:[{
            id:1,
            name:'叶立康1-1'
          },{
            id:2,
            name:'叶立康1-2'
          },{
            id:3,
            name:'叶立康1-3'
          },{
            id:4,
            name:'叶立康1-4'
          }],
          list2:[{
            id:1,
            name:'叶立康2-1'
          },{
            id:2,
            name:'叶立康2-2'
          },{
            id:3,
            name:'叶立康2-3'
          }],
          list3:[{
            id:1,
            name:'叶立康3-1'
          },{
            id:2,
            name:'叶立康3-2'
          },{
            id:3,
            name:'叶立康3-3'
          }]
        }
      },
      components:{
        children:{
          template:`<div>{{text}}<input/> <a @click="_delete">删除</a></div>`,
          props:['text'],
          methods:{
            _delete(){
              this.$emit('delete')
            }
          }
        }
      },
      methods:{
        $_onChange(){
          this.text = this.text + 1;
        },
        _remove(index){
          this.list1.splice(index, 1)
        },
        _remove2(index){
          this.list2.splice(index, 1)
        },
        _remove3(index){
          this.list3.splice(index, 1)
        },
        _reverse(){
          this.list1.reverse();
        },
        _luan(){
          this.list1 =[{
            id:3,
            name:'叶立康1-3'
          },{
            id:1,
            name:'叶立康1-1'
          },{
            id:4,
            name:'叶立康1-4'
          },{
            id:2,
            name:'叶立康1-2'
          }]
        }
      }
    });
  </script>
</html>
